  @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;  
}
.barra{
    background-color: #062f6d;
    height: 30px;
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #062F6D;
    --cor-secundaria: #155FD5;
    --cor-secundaria-hover: #2b75ec;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 35px solid var(--cor-principal);
    border-bottom: 1px solid var(--cor-principal);
    padding-bottom: 5px;
}

#logo img {
    height: 50px;
}

.search {
    position: relative;
    height: 30px;
}

.search input {
    height: 30px;
    width: 180px;
    border: none;
    background-color: rgb(203, 203, 203);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    padding: 5px;
}

.search button {
    position: absolute;
    height: 30px;
    width: 30px;
    border: none;
    background-color: var(--cor-secundaria);
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search:hover button {
    background-color: var(--cor-secundaria-hover);
}

.options-list-header {
    display: flex;
}

.options-list-header ul {
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    margin: 0;
}

.options-list-header ul i {
    font-size: 25px;
    color: var(--cor-secundaria);
}

.options-list-header ul li a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 12.5px;
    text-decoration: none;
    color: var(--cor-principal);
}

.options-list-header ul li a:hover {
    color: var(--cor-secundaria);
}

main{
    margin: 20px;
}
.mainBaixo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainBaixo .fundo{
    position: relative;
    background: url('Imagens/porra.jpeg') no-repeat ;
    background-size: cover;
    width: 100%;
    /* min-height: 700px; */
}
.sesi{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    
}

.cuzin{
    display: flex;
    align-items: end;
    justify-content: end;
}

.list1 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px ;
}
.list1 li img {
    display: flex;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
    width:"400px";
    height:"300px";
}

.list2 li img {
    display: flex;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.list1 li img:hover{
    padding: 5px;
    border-radius: 20px;
}

.list2 li img:hover{
    padding: 5px;
    border-radius: 20px;
}

.list2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px ;

}

.desenho{
    display: flex;
 flex-direction: row;
 margin-top: 50px;

}

/* Footer */
.footer-cima {
    display: inline-flex;
    background-color: #062F6D; /* Substitua pela cor desejada */
    width: 100%;
    color: white;
    margin-top: 50px;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.logo-sesi {
    width: 200px;
    height: 55px;
    border-radius: 0;
    cursor: pointer;
}

.footer-cima label {
    font-size: 12.5px;
}

.footer-cima b {
    font-size: 16px;
}

.footer-cima a {
    font-size: 18.5px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.footer-cima a:hover {
    text-decoration: underline;
    font-size: 20px;
}

.footer-baixo {
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #021F4B; /* Substitua pela cor desejada */
}

.icone-fc {
    width: 16px;
    height: 16px;
    margin: 2px;
}

.footer-cima a {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1300px){
    
    /* CABEÇÃLHO */
    .barra{
        height: 1px;
        width: 100%;
    }

    header{
        flex-direction: column;
        gap: 20px;
    }

    .search input {
        width: 280px;
    }
    

}