  @import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;  
}
.barra{
    background-color: #062f6d;
    height: 30px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ancoras {
    list-style: none;
    margin-top: 10px;
}

.ancoras li a{
    margin-right: 5px;
    color: #062f6d;
    text-decoration: none;
}
main{
    margin: 20px;
}
.mainBaixo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainBaixo .fundo{
    position: relative;
    background: url('Imagens/porra.jpeg') no-repeat ;
    background-size: cover;
    width: 100%;
    /* min-height: 700px; */
}
.sesi{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    
}

.cuzin{
    display: flex;
    align-items: end;
    justify-content: end;
}

.list1 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px ;
}
.list1 li img {
    display: flex;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
    width="400px" height="300px
}

.list2 li img {
    display: flex;
    transition: all ease-in-out 0.3s;
    border-radius: 10px;
}

.list1 li img:hover{
    padding: 5px;
    border-radius: 20px;
}

.list2 li img:hover{
    padding: 5px;
    border-radius: 20px;
}

.list2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px ;

}

.desenho{
    display: flex;
 flex-direction: row;
 margin-top: 50px;

}





