@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

* {
  font-family: 'Gotu', sans-serif;
  
}

:root {

  /* FONTES */
  --font-gotu: 'Gotu', sans-serif;
  --font-rowdies: 'Rowdies', sans-serif;

  /* CORES */
  --cor-principal: #062F6D;
  --cor-secundaria: #155FD5;
  --cor-secundaria-hover: #2b75ec;
}



body {
  background-image: url(img/677335c9-3e13-4d6b-bc7a-ece518626205.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
}

/* HEADER__________________ */


header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 35px solid var(--cor-principal);
  border-bottom: 1px solid var(--cor-principal);
  padding-bottom: 5px;
}



/* HEADER___________________ */

/* Form */
#form-container {
  background-color: #ffffff88;
  border-radius: 20px;
  box-shadow: 0.5px 10px 15px rgba(0, 0, 0, 0.2);
  margin: 25px auto;
  padding: 25px;
  align-items: center;
  max-width: 600px;
}

h2 {
  color: var(--cor-principal);
  font-family: var(--font-rowdies);
  font-size: 40px;
  font-weight: 400; /* Use um valor maior que 700 (bolder) para aumentar a espessura */
}


.entrar {
  border-radius: 70px;
  width: 200px;
  height: 40px;
  background-color: var(--cor-principal);
  transition: opacity 0.5s ease; /* Adiciona uma transição suave de 0.5 segundos para a cor de fundo e a opacidade */
}

.entrar:hover {
  opacity: 0.7;
}

.entrar-span {
  color: white;
  opacity: 1;
}


@media (max-width: 400px) {
  .btn-danger {
    width: 100px;
  }
}

.input-group-text {
  background-color: transparent;
  border: none;
}



.input-group-text i {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}


/* Alinha o texto do placeholder um pouco para a direita */
.input-group input.form-control::placeholder {
  padding-left: 20px; /* Ajuste o valor conforme necessário */
}

.esqueceu-senha {
  color: black;
  text-decoration: 0;
  font-size: 13px;
  opacity: 70%;
  transition: opacity 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

.esqueceu-senha:hover {
  opacity: 100%;
  color: black;
  text-decoration: underline;
}

.redes {
    width: 60px; /* Ajuste o tamanho conforme necessário */
    height: 60px; /* Ajuste o tamanho conforme necessário */
    object-fit: cover;
    border-radius: 50%;
}

.redes-sociais {
  width: auto;
  gap: 35px;
}



.cadastre-se {
  color: black;
  text-decoration: 0;
  font-size: 11px;
  opacity: 100%;
  transition: opacity 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */

}

.cadastre-se:hover {
  opacity: 70%;
  text-decoration: underline;
  color: black;
}

.redes-imagens {
  opacity: 1;
  transition: opacity 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */
}

.redes-imagens:hover {
  opacity: 0.7;
}
