* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonte-inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
    /* Adapte o caminho e formato conforme necessário */
}

@font-face {
    font-family: 'Rowdies';
    src: url('../fonte-rowdies/Rowdies-Bold.ttf') format('truetype');
    /* Adapte o caminho e formato conforme necessário */
}

html,
body {
    width: 100%;
    height: 100%;
}  

body {
    /* Remova a propriedade display: flex do corpo */
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    background-image: url(../imagens_sesi/background-modalidades\ \(2\).png);
    background-size: cover;
    transition: background 0.4s ease-in;
}

header {
    /* Adicione estas propriedades ao cabeçalho */
    text-align: center;
    padding: 24px;
    margin: -30px;
    background-color: #062F6D; /* Adicione a cor desejada */
    color: white; /* Adicione a cor desejada */
    font-family: 'Rowdies';
}

input[type=radio] {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Adicione esta linha para centralizar horizontalmente */
    margin-top: 80px;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4,
#item-5:checked ~ .cards #song-5 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-5,
#item-5:checked ~ .cards #song-1 {
    transform: translateX(100%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-4,
#item-3:checked ~ .cards #song-5,
#item-4:checked ~ .cards #song-1,
#item-5:checked ~ .cards #song-2 {
    transform: translateX(-100%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #song-4,
#item-2:checked ~ .cards #song-5,
#item-3:checked ~ .cards #song-1,
#item-4:checked ~ .cards #song-2,
#item-5:checked ~ .cards #song-3 {
    transform: translateX(-200%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #song-5,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2,
#item-4:checked ~ .cards #song-3,
#item-5:checked ~ .cards #song-4 {
    transform: translateX(200%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img,
#item-4:checked ~ .cards #song-4 img,
#item-5:checked ~ .cards #song-5 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}



/* ____________________________ */
/* Footer */
/* Footer */
.footer-cima {
    display: inline-flex;
    background-color: #062F6D; /* Substitua pela cor desejada */
    width: 100%;
    color: white;
    margin-top: 50px;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.logo-sesi {
    width: 200px;
    height: 55px;
    border-radius: 0;
    cursor: pointer;
}

.footer-cima label {
    font-size: 12.5px;
}

.footer-cima b {
    font-size: 16px;
}

.footer-cima a {
    font-size: 18.5px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.footer-cima a:hover {
    text-decoration: underline;
    font-size: 20px;
}

.footer-baixo {
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: #021F4B; /* Substitua pela cor desejada */
}

.icone-fc {
    width: 16px;
    height: 16px;
    margin: 2px;
}

.footer-cima a {
    display: flex;
    justify-content: center;
}

/* __________________________ */
/* Responsividade */

@media only screen and (max-width: 600px) {
    body {
        padding: 2px;
        max-width: 420px;
        max-height: 600px;
    }

    header {
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding: 12px;
    }

    .container {
        margin-top: 30px;
        max-width: 260px; /* Alterado para ocupar a largura total */
    }
    .footer-cima {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 12px;
    }

    .footer-cima label,
    .footer-cima b,
    .footer-cima a {
        font-size: 14px;
        margin-top: 5px;
    }

    .logo-sesi {
        width: 40%; /* Ajustado para ocupar 80% da largura da tela */
        height: auto;
        border-radius: 0;
        cursor: pointer;
    }

    footer {
        width: 100%;
        max-width: 100%;
    }

    .footer-baixo {
        padding: 10px;
    }
}