/*----- header -----*/

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

:root {
    --cor-principal: #062F6D;
    --cor-secundaria: #155FD5;
    --cor-terciaria: #021f4b;
    --cor-secundaria-hover: #2b75ec;
    --background-input: rgb(203, 203, 203);
    --icons-color: rgb(164, 164, 164);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 35px solid var(--cor-principal);
    border-bottom: 1px solid var(--cor-principal);
    padding-bottom: 5px;
}

#logo img {
    height: 50px;
}

.search {
    position: relative;
    height: 30px;
}

.search input {
    height: 30px;
    width: 180px;
    border: none;
    background-color: var(--background-input);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    padding: 5px;
}

.search button {
    position: absolute;
    height: 30px;
    width: 30px;
    border: none;
    background-color: var(--cor-secundaria);
    color: #FFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.search:hover button {
    background-color: var(--cor-secundaria-hover);
}

.options-list-header {
    display: flex;
}

.options-list-header ul {
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    margin: 0;
}

.options-list-header ul i {
    font-size: 25px;
    color: var(--cor-secundaria);
}

.options-list-header ul li a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 12.5px;
    text-decoration: none;
    color: var(--cor-principal);
}

.options-list-header ul li a:hover {
    color: var(--cor-secundaria);
}

.search-Responsive {
    display: none;
}

#hamburg {
    display: none;
}

#icon-x {
    display: none;
}

/* ----- Body ----- */
.center {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    background-image: url(assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* parte esquerda */

.section-right {
    perspective: 1000px;
}

.title-right, .section-left h1 {
    font-family: 'Rowdies', sans-serif;
    font-size: 45px;
    /* background-color: red; */
    width: fit-content;
    color: var(--cor-secundaria);
}

.form-contact {
    display: flex;
    border: 1px solid black;
    background-color: #fff;
    width: 350px;
    height: 450px;
    position: relative;
    margin-top: 50px;
    transform-style: preserve-3d;
    transition: transform ease 1s;
    border-radius: 5px;
    border: 0.5px solid var(--background-input);
    box-shadow: 3px 3px 5px 0px var(--background-input);

}

.front,.back {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.front h2 {
    font-size: 20px;
}



.input-form {
    display: flex;
    flex-direction: column;
}

.input-form label {
    font-size: 14px;
}

.input-form input {
    height: 25px;
    width: 250px;
}

.input-form input, .input-form textarea {
    border: none;
    background-color: var(--background-input);
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.button-submit {
    background-color: var(--cor-principal);
    color: #fff;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.button-submit:hover {
    background-color: var(--cor-secundaria);
}

.back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

.back h1 {
    font-size: 20px;
}

.back img {
    height: 150px;
}

.back button {
    padding: 5px;
}

/* parte direita */
.section-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-left h1 {
    font-family: 'Rowdies', sans-serif;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sociais ul {
    list-style-type: none;
    display: inline-flex;
    gap: 10px;
}

.sociais ul i {
    color: var(--icons-color);
    font-size: 25px;
}

.sociais ul i:hover {
    color: black;
}

.contact-sociais {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* footer */

footer {
    width: 100%;
    bottom: 0;
}

.footer-cima {
    display: inline-flex;
    background-color: var(--cor-principal);
    width: 100%;
    color: white;
    margin-top: 50px;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}

.logo-sesi {
    height: 35px;
    cursor: pointer;
}

.footer-cima p {
    font-size: 12.5px;
}

.footer-cima a {
    font-size: 12.5px;
    cursor: pointer;
}

.footer-cima a:hover {
    text-decoration: underline;
}

.footer-baixo {
    padding: 5px;
    text-align: center;
    color: #fff;
    background-color: var(--cor-terciaria);
}

.footer-baixo p {
    font-size: 12.5px;
}

/* responsividade */

@media (max-width: 890px) {
    /* header */
    header {
        height: 128px;
    }

    #logo img {
        height: 30px;
    }

    /* condifg padrão da lista */
    .options-list-activate ul {
        font-family: 'Inter', sans-serif;
        list-style-type: none;
        margin: 0;
    }
    
    .options-list-activate ul i {
        font-size: 25px;
        color: var(--cor-secundaria);
    }
    
    .options-list-activate ul li a {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        font-size: 12.5px;
        text-decoration: none;
        color: var(--cor-principal);
    }

    /* linha para esconder o menu de opções */
    .options-list-header {
        display: none;
    }

    .options-list-activate {
        display: flex;
        position: absolute;
        background-color: #fff;
        border: 1px solid black;
        padding: 15px;
        top: 0;
        padding-top: 35px;
        z-index: 1;
    }

    #hamburg {
        display: block;
        width: 25px;
        height: 25px;
        border: none;
        outline: none;
        background-color: #fff;
    }

    #hamburg img {
        width: 25px;
        background-color: none;
    }

    #icon-x {
        display: block;
        position: absolute;
        top: 10%;
        right: 3%;
        width: 15px;
        height: 15px;
        border: none;
        outline: none;
        background-color: #fff;
    }

    #icon-x img {
        width: 15px;
        background-color: none;
    }

    /* desabilita a barra de pesquisa que fica direto no header */
    .search {
        display: none;
    }

    .search-Responsive {
        margin: 5px 0 5px 0;
        display: block;
        position: relative;
        height: 30px;
        /* background-color: red; */
        
    }
    
    .search-Responsive input {
        height: 30px;
        width: 165px;
        border: none;
        background-color: var(--background-input);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        padding: 5px;
    }
    
    .search-Responsive button {
        position: absolute;
        height: 30px;
        width: 30px;
        border: none;
        background-color: var(--cor-secundaria);
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    .search-Responsive button i {
        color: #fff;
        font-size: 15px;
    }
    
    .search-Responsive:hover button {
        background-color: var(--cor-secundaria-hover);
    }

    /* corpo do projeto */
    .center {
        display: flex;
        flex-direction: column;
        background: #fff;
        gap: 100px;
        z-index: 0;
    }

    .title-right, .section-left h1 {
        margin-top: 25px;
        font-size: 35px;
    }

    .form-contact {
        margin-top: 25px;
        width: 297.5px;
        height: 382.5px;
    }

    .form-contact h2 {
        font-size: 17px;
    }

    .input-form label {
        font-size: 11.9px;
    }

    .input-form input {
        height: 21.25px;
        width: 212.5px;
    }
    
    .button-submit {
        font-size: 10px;
    }

    #google-map {
        width: 340px;
        height: 170px;
        margin: auto;
    }

    .map label {
        font-size: 13.6px;
    }

    .contact-sociais {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* footer */
    .logo-sesi {
        height: 17.5px;
    }

    .footer-cima p {
        width: 142.35px;
        font-size: 9.375px;
    }

    .footer-cima a {
        font-size: 10.625px;
    }

    .footer-baixo p {
        font-size: 9.375px;
    }
}